# WIRIS INTEGRATIONS TEAM
* @carla-at-wiris @jgonzalez-at-wiris @xjiang-at-wiris @ncornaglia-at-wiris

# WIRIS QUIZZES TEAM: let them know we touched code that may create conflicts with their Moodle plugin
/integration/ @carla-at-wiris @jgonzalez-at-wiris @xjiang-at-wiris @ncornaglia-at-wiris @wiris/squad-wirisquizzes
