body {
    font-family: Arial;
}
span {
    font-weight: bold;
}
span.ok {
    color: #009900;
}
span.error {
    color: #dd0000;
}
table, th, td, tr {
    border: solid 1px #000000;
    border-collapse:collapse;
    padding: 5px;
}
th {
    background-color: #eeeeee;
}
img {
    border:none;
}
